* {
    box-sizing: border-box;
}

.map {
    width: 800px;
    height: 800px;
}

.img-holder {
    width: 100px;
    height: 70px;
}

p {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 20px;
    padding: 10px 20px;
}