.why-choose-us-section {
    padding: 30px 15px;

    @include media ('>=768px') {
        padding: 60px 15px;
    }

    @include media ('>=1024px') {
        padding: 118px 15px 117px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;   
        text-align: center;
    }

    .left-column {
        text-align: center;
        padding-right: 15px;
        margin-bottom: 25px;

        @include media ('>=768px') {
            padding-right: 50px;
            width: 60%;
            text-align: center;
        }

        @include media ('>=1024px') {
            width: 60%;
            text-align: start;
        }

        .section-title {
            font-family: $aleo;
            font-weight: 400;
            font-size: 26px;
            line-height: 24px;
            color: $white;
            padding-bottom: 25px;

            @include media ('>=768px') {
                font-size: 36px;
                line-height: 26px;
                padding-bottom: 50px;
            }
        }

        .text-holder {
            max-width: 560px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 1.6px;
            color: $light-grey;
            text-align: justify;
            margin-bottom: 35px;

            @include media ('>=768px') {
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 45px;
            }

            p {
                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }

        .explore-button-holder {
            margin-bottom: 35px;
            max-width: 225px;
            position: relative;
            z-index: 1;
            top: 0;
            left: 0;
            display: flex;  
            justify-content: center;  
            align-items: center;  

            &:before {
                content: url(../img/btn-part-1.svg);
                z-index: 3;
                position: absolute;
                top: 0;
                left: 0;
            }

            &:after {
                content: url(../img/btn-part-2.svg);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }

            .explore-button {
                margin: 0 auto;  
                font-family: $aleo;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                color: $white;
                position: relative;
                transform: translateY(50%);
                z-index: 3;
                display: inline-block;
                padding-top: 4px;

                &:hover {
                    color: $hover-color;
                }
            }
        }  
    }

    .right-column {

        @include media ('>=768px') {
            width: 40%;
        }

        .img-holder {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }

        .img-holder-first-pic {
            padding: 10px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include media ('>=768px') {
                padding: 10px 15px 5px 0;
                justify-content: flex-start;
            }
            
        }

        .img-holder-second-pic {
            padding: 10px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            @include media ('>=768px') {
                padding: 10px 0 5px 30px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
            }

            @include media ('>=1024px') {
                padding: 10px 0 5px 60px;
            }
        }
    }
}