/* PT Sans */

@font-face {
    font-family: 'PT Sans';
    src: url('ptsans-bold-webfont.woff2') format('woff2'),
         url('ptsans-bold-webfont.woff') format('woff'),
         url('ptsans-bold-webfont.ttf') format('truetype'),
         url('ptsans-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'PT Sans';
    src: url('ptsans-bolditalic-webfont.woff2') format('woff2'),
         url('ptsans-bolditalic-webfont.woff') format('woff'),
         url('ptsans-bolditalic-webfont.ttf') format('truetype'),
         url('ptsans-bolditalic-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'PT Sans';
    src: url('ptsans-italic-webfont.woff2') format('woff2'),
         url('ptsans-italic-webfont.woff') format('woff'),
         url('ptsans-italic-webfont.ttf') format('truetype'),
         url('ptsans-italic-webfont.svg#pt_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;

}




@font-face {
    font-family: 'PT Sans';
    src: url('ptsans-regular-webfont.woff2') format('woff2'),
         url('ptsans-regular-webfont.woff') format('woff'),
         url('ptsans-regular-webfont.ttf') format('truetype'),
         url('ptsans-regular-webfont.svg#pt_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

/*Roboto*/

@font-face {
    font-family: 'Roboto';
    src: url('roboto-thinitalic-webfont.woff2') format('woff2'),
         url('roboto-thinitalic-webfont.woff') format('woff'),
         url('roboto-thinitalic-webfont.ttf') format('truetype'),
         url('roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
    font-weight: 400;
    font-style: italic;

}




@font-face {
    font-family: 'Roboto';
    src: url('roboto-black-webfont.woff2') format('woff2'),
         url('roboto-black-webfont.woff') format('woff'),
         url('roboto-black-webfont.ttf') format('truetype'),
         url('roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto';
    src: url('roboto-blackitalic-webfont.woff2') format('woff2'),
         url('roboto-blackitalic-webfont.woff') format('woff'),
         url('roboto-blackitalic-webfont.ttf') format('truetype'),
         url('roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: 900;
    font-style: italic;

}




@font-face {
    font-family: 'Roboto';
    src: url('roboto-bold-webfont.woff2') format('woff2'),
         url('roboto-bold-webfont.woff') format('woff'),
         url('roboto-bold-webfont.ttf') format('truetype'),
         url('roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto';
    src: url('roboto-bolditalic-webfont.woff2') format('woff2'),
         url('roboto-bolditalic-webfont.woff') format('woff'),
         url('roboto-bolditalic-webfont.ttf') format('truetype'),
         url('roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'Roboto';
    src: url('roboto-italic-webfont.woff2') format('woff2'),
         url('roboto-italic-webfont.woff') format('woff'),
         url('roboto-italic-webfont.ttf') format('truetype'),
         url('roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: 400;
    font-style: italic;

}




@font-face {
    font-family: 'Roboto';
    src: url('roboto-light-webfont.woff2') format('woff2'),
         url('roboto-light-webfont.woff') format('woff'),
         url('roboto-light-webfont.ttf') format('truetype'),
         url('roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto';
    src: url('roboto-lightitalic-webfont.woff2') format('woff2'),
         url('roboto-lightitalic-webfont.woff') format('woff'),
         url('roboto-lightitalic-webfont.ttf') format('truetype'),
         url('roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'Roboto';
    src: url('roboto-medium-webfont.woff2') format('woff2'),
         url('roboto-medium-webfont.woff') format('woff'),
         url('roboto-medium-webfont.ttf') format('truetype'),
         url('roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto';
    src: url('roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('roboto-mediumitalic-webfont.woff') format('woff'),
         url('roboto-mediumitalic-webfont.ttf') format('truetype'),
         url('roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'Roboto';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff'),
         url('roboto-regular-webfont.ttf') format('truetype'),
         url('roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'robotothin';
    src: url('roboto-thin-webfont.woff2') format('woff2'),
         url('roboto-thin-webfont.woff') format('woff'),
         url('roboto-thin-webfont.ttf') format('truetype'),
         url('roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: 100;
    font-style: normal;

}