@font-face {
    font-family: 'Aleo';
    src: url('aleo-regular-webfont.woff2') format('woff2'),
         url('aleo-regular-webfont.woff') format('woff'),
         url('aleo-regular-webfont.ttf') format('truetype'),
         url('aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Aleo';
    src: url('aleo-bold-webfont.woff2') format('woff2'),
         url('aleo-bold-webfont.woff') format('woff'),
         url('aleo-bold-webfont.ttf') format('truetype'),
         url('aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Monda';
    src: url('monda-regular-webfont.woff2') format('woff2'),
         url('monda-regular-webfont.woff') format('woff'),
         url('monda-regular-webfont.ttf') format('truetype'),
         url('monda-regular-webfont.svg#mondaregular') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Monda';
    src: url('monda-bold-webfont.woff2') format('woff2'),
         url('monda-bold-webfont.woff') format('woff'),
         url('monda-bold-webfont.ttf') format('truetype'),
         url('monda-bold-webfont.svg#mondabold') format('svg');
    font-weight: 700;
    font-style: normal;

}