.section-design {
    .container {
            padding-top: 60px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            justify-content: space-between;

        @include media ('>=768px') {
            padding-top: 120px;
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.design-column {

    @include media ('>=768px') {
        width: 50%;
        max-width: 486px;
    }

    .design-text-holder {
        @extend .text;
    }
}  

.design-list-item {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;

    .design-title {
        padding-bottom: 12px;
        font-style: normal;
        font-size: 13px;
        line-height: 20px;
        color: $black;

        @include media ('>=768px') {
            font-style: normal;
            font-size: 16px;
            line-height: 26px;
            color: $black;
        } 
    }
}

.pseudo-title {
    @extend .pseudo-title;
}

.design-main-title {
    @extend .section-main-title ;
}

.design-text-holder {
    @extend .text;
}